<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rohitss.uceh">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application>
        <activity
            android:name="com.rohitss.uceh.UCEDefaultActivity"
            android:process=":error_activity"/>
        <!--<provider
            android:nauceh"
            android:authorities="${applicationId}.customactivityoncrashinitprovider"
            android:exported="false"
            android:initOrder="101"/>-->
    </application>
</manifest>